<section class="about-one-hero">
    <div class="w-layout-blockcontainer about-one-hero-container w-container">
      <div class="w-layout-vflex about-one-hero-main">
        <div data-w-id="96645ce7-a58f-669a-a10d-291fbaae30d0" class="small-heading">About us</div>
        <h4 data-w-id="1359af71-79f4-c15f-518d-baecffef8c99" class="about-one-hero-heading">ELP seamlessly blends innovative technology with
          personalized teaching, empowering students
          through creative methods and expert guidance to
          achieve their lifelong goals.</h4>
      </div>
    </div>
  </section>
  <section class="about-one-main">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex about-one-wrap">
        <div class="w-layout-vflex about-one-image-wrap">
            <img class="about-image" src="https://app.theurbangaragebd.com/edumig/images/Employ-Images_1Employ Images.webp" width="630" height="635" alt="Office Image" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 630px" data-w-id="b1db974c-6901-f2a5-5f6d-f4888817d9a2" loading="lazy" srcset="images/Employ-Images_1Employ Images.webp 500w, images/Employ-Images_1Employ Images.webp 800w, images/Employ-Images_1Employ Images.webp 1080w, images/Employ-Images_1Employ Images.webp 1260w">
            <img src="https://app.theurbangaragebd.com/edumig/images/Trusted-By-Image-In-White_1Trusted By Image In White.avif" loading="lazy" width="268" height="179" alt="Trusted By Image" data-w-id="fd910bbf-dc8a-de12-e523-b9962c1e5444" class="about-image-two"></div>
        <div class="w-layout-vflex about-one-text-wrap">
          <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">Our Story</div>
          <h2 data-w-id="22aae7bd-3054-0b9c-1fbc-8c2689187f6a" class="heading-two-gap-updown">Limitless learning and get more possibilities</h2>
          <p data-w-id="91fe9481-8c9c-1683-8754-d421dde73d8d" class="margin-bottom-thirty">We take pride in being the first IELTS Registration
            Center and official British Council IRC. partner in
            Chattogram. With thousands of students trained
            and countless success stories across. Bangladesh,
            ELP has continued to set new benchmarks for
            English education in the country.</p>
          <div style="display: none;" data-w-id="0f42c462-97bb-326d-18d1-ef271f0cc0d6" class="w-layout-hflex home-two-counters-wrap no-margin-bottom">
            <div class="w-layout-vflex home-two-counters">
              <div data-w-id="0f42c462-97bb-326d-18d1-ef271f0cc0d8" class="w-layout-hflex counter-box">
                <div class="w-layout-vflex counter-train-wrapper">
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                  </div>
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">1</div>
                  </div>
                </div>
                <div class="heading-two">.</div>
                <div class="w-layout-vflex counter-train-wrapper">
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                  </div>
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">5</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                  </div>
                </div>
                <div class="heading-two">K</div>
              </div>
              <div class="small-heading text-dark">Finish seasons</div>
            </div>
            <div class="counter-border"></div>
            <div class="w-layout-vflex home-two-counters">
              <div data-w-id="0f42c462-97bb-326d-18d1-ef271f0cc0ff" class="w-layout-hflex counter-box">
                <div class="w-layout-vflex counter-train-wrapper">
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                  </div>
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">7</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                  </div>
                </div>
                <div class="heading-two">.</div>
                <div class="w-layout-vflex counter-train-wrapper">
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                    <div class="heading-two">7</div>
                  </div>
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">8</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                    <div class="heading-two">7</div>
                  </div>
                </div>
                <div class="heading-two">K</div>
              </div>
              <div class="small-heading text-dark">Enrolled</div>
            </div>
            <div class="counter-border"></div>
            <div class="w-layout-vflex home-two-counters">
              <div data-w-id="0f42c462-97bb-326d-18d1-ef271f0cc14a" class="w-layout-hflex counter-box">
                <div class="w-layout-vflex counter-train-wrapper">
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                  </div>
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">1</div>
                  </div>
                </div>
                <div class="w-layout-vflex counter-train-wrapper">
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                    <div class="heading-two">7</div>
                    <div class="heading-two">8</div>
                    <div class="heading-two">9</div>
                  </div>
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                    <div class="heading-two">7</div>
                    <div class="heading-two">8</div>
                    <div class="heading-two">9</div>
                  </div>
                </div>
                <div class="w-layout-vflex counter-train-wrapper">
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                    <div class="heading-two">7</div>
                    <div class="heading-two">8</div>
                    <div class="heading-two">9</div>
                  </div>
                  <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                    <div class="heading-two">0</div>
                    <div class="heading-two">1</div>
                    <div class="heading-two">2</div>
                    <div class="heading-two">3</div>
                    <div class="heading-two">4</div>
                    <div class="heading-two">5</div>
                    <div class="heading-two">6</div>
                    <div class="heading-two">7</div>
                    <div class="heading-two">8</div>
                    <div class="heading-two">9</div>
                  </div>
                </div>
                <div class="heading-two">%</div>
              </div>
              <div class="small-heading text-dark">Job placement</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="w-layout-blockcontainer container w-container">
      <div data-w-id="6cee345c-516e-ac91-e93b-ae101bb3214d" class="w-layout-hflex home-two-details-main background-color-dark">
        <div class="w-layout-hflex home-two-details-box"><img src="https://app.theurbangaragebd.com/edumig/images/Circle-Icons-White.svg" loading="lazy" width="45" height="45" alt="Icon" class="details-icon">
          <div class="w-layout-vflex details-text">
            <div class="heading-four text-white">150+ online courses</div>
            <!-- <p class="no-margin-bottom text-light-white">Lorem ipsum dolor sit amet</p> -->
          </div>
        </div>
        <div class="w-layout-hflex home-two-details-box"><img src="https://app.theurbangaragebd.com/edumig/images/Pen-Icons-White.svg" loading="lazy" width="45" height="45" alt="Icon" class="details-icon">
          <div class="w-layout-vflex details-text">
            <div class="heading-four text-white">Personalized learning</div>
            <!-- <p class="no-margin-bottom text-light-white">Lorem ipsum dolor sit amet</p> -->
          </div>
        </div>
        <div class="w-layout-hflex home-two-details-box"><img src="https://app.theurbangaragebd.com/edumig/images/Update-White-Icons.svg" loading="lazy" width="45" height="45" alt="Icon" class="details-icon">
          <div class="w-layout-vflex details-text">
            <div class="heading-four text-white">Lifetime update</div>
            <!-- <p class="no-margin-bottom text-light-white">Lorem ipsum dolor sit amet</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-one-success-cards">
    <div class="w-layout-blockcontainer w-container">
      <div class="w-layout-vflex about-one-success-main">
        <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">Why we are</div>
        <div data-w-id="ce718781-73b5-8f8c-d3ab-d7133fddbc00" class="heading-three about-one-success-heading">We believe in our good education and development system and we know how to work together to reach greater success</div>
      </div>
    </div>
  </section>
  <section>
    <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b8755" class="home-three-potential-cards-wrap about-one-hover-accordion">
      <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b8756" class="potential-cards">
        <div class="heading-three text-blue margin-bottom-ten">01</div>
        <div class="heading-four margin-bottom-ten">Flexibility and convenience</div>
        <p class="no-margin-bottom">
          can study anytime,
anywhere balancing education
with personal and professional life.
        </p>
        <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b875d" class="potential-cards-button-wrap button-wrap-one">
          <div class="potential-button">
            <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/contact-us" class="button button-border-off w-inline-block">
              <div>Get Started </div>
            </a>
          </div>
        </div>
      </div>
      <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b8760" class="potential-cards">
        <div class="heading-three text-blue margin-bottom-ten">02</div>
        <div class="heading-four margin-bottom-ten">Course accessibility</div>
        <p class="no-margin-bottom">
          can easily access course
materials and resources from any
location, ensuring an inclusive and
seamless learning experience.
        </p>
        <div class="potential-cards-button-wrap button-wrap-two">
          <div class="potential-button">
            <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/contact-us" class="button button-border-off w-inline-block">
              <div>Get Started </div>
            </a>
          </div>
        </div>
      </div>
      <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b876a" class="potential-cards">
        <div class="heading-three text-blue margin-bottom-ten">03</div>
        <div class="heading-four margin-bottom-ten">Cost-effectiveness</div>
        <p class="no-margin-bottom">
           achieve quality education
at an affordable cost, maximizing
value while minimizing expenses.
        </p>
        <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b8771" class="potential-cards-button-wrap button-wrap-three">
          <div class="potential-button">
            <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/contact-us" class="button button-border-off w-inline-block">
              <div>Get Started </div>
            </a>
          </div>
        </div>
      </div>
      <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b8774" class="potential-cards">
        <div class="heading-three text-blue margin-bottom-ten">04</div>
        <div class="heading-four margin-bottom-ten">Personalized learning</div>
        <p class="no-margin-bottom">
          Learners progress at their own
pace with tailored support to
match their individual needs and
goals.
        </p>
        <div data-w-id="cfa7d4f6-8cc2-116f-57eb-33c2a39b877b" class="potential-cards-button-wrap button-wrap-four">
          <div class="potential-button">
            <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/contact-us" class="button button-border-off w-inline-block">
              <div>Get Started </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="about-one-offer">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex about-one-offer-main">
        <div class="home-two-learning-image-wrap">
          <div data-w-id="6fa57dca-018c-704c-f9bc-784a937c4993" class="learning-video-wrap">
            <div data-poster-url="https://cdn.prod.website-files.com/668cb7adec02e140422345de%2F66c86567624ca9dec83f55cc_Home%20One%20Video-poster-00001.jpg" data-video-urls="videos/Home-One-Video-transcode.mp4,videos/Home-One-Video-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-two w-background-video w-background-video-atom"><video id="6fa57dca-018c-704c-f9bc-784a937c4994-video" autoplay="" loop="" style="background-image:url(&quot;https://cdn.prod.website-files.com/668cb7adec02e140422345de%2F66c86567624ca9dec83f55cc_Home%20One%20Video-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="videos/Home-One-Video-transcode.mp4" data-wf-ignore="true">
                <source src="videos/Home-One-Video-transcode.webm" data-wf-ignore="true">
              </video></div>
          </div>
          <div data-w-id="6fa57dca-018c-704c-f9bc-784a937c4995" class="learning-image-wrap"><img src="https://app.theurbangaragebd.com/edumig/images/Girl-Image-Using-Laptop_1Girl Image Using Laptop.webp" loading="lazy" width="366" height="471" alt="Woman Image" srcset="images/Girl-Image-Using-Laptop_1Girl Image Using Laptop.webp 500w, images/Girl-Image-Using-Laptop_1Girl Image Using Laptop.webp 732w" sizes="(max-width: 479px) 100vw, (max-width: 991px) 47vw, 366px" class="border-radius-four tab-image-full-width"></div>
        </div>
        <div class="home-one-offer-right">
          <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">what we Offer</div>
          <h2 data-w-id="3d0fc8a0-f487-6d87-2a75-6c28854ced54" class="heading-two-gap-updown">Personalized learning for your ambitions</h2>
          <p data-w-id="3d0fc8a0-f487-6d87-2a75-6c28854ced56" class="margin-bottom-twenty">Lorem ipsum dolor sit amet consectetur. Pellentesque id quam mauris mus. Vitae diam dolor lacus amet integer ut.</p>
          <ul data-w-id="3d0fc8a0-f487-6d87-2a75-6c28854ced58" role="list" class="home-one-offer-list">
            <li class="heading-six">Skill-based instruction</li>
            <li class="heading-six">Analytics and insights</li>
            <li class="heading-six">Global certification</li>
            <li class="heading-six">Customizable courses</li>
          </ul>
          <div data-w-id="3d0fc8a0-f487-6d87-2a75-6c28854ced61" class="w-layout-hflex home-one-offer-box">
            <div class="w-layout-vflex home-one-offer-text">
              <div class="heading-five">Still have questions?</div>
              <p class="no-margin-bottom">Lorem ipsum dolor sit amet conse ipsum blandit etiam aliquam.</p>
            </div>
            <div class="no-shrink">
              <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/contact-us" class="button button-border-off w-inline-block">
                <div>Get Started </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clients-three" style="display: none;">
    <div class="w-layout-blockcontainer container w-container">
      <p data-w-id="749170a9-5dab-3b9e-8196-6f9b8c3dcff8" class="margin-bottom-twenty-five text-align-center">Learn from 350+ leading universities and companies with us</p>
      <div data-w-id="749170a9-5dab-3b9e-8196-6f9b8c3dcffa" class="w-layout-hflex marquee-main">
        <div class="w-layout-hflex clients-train"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo.svg" loading="lazy" width="153" height="51" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-4.svg" loading="lazy" width="131" height="54" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-6.svg" loading="lazy" width="163" height="52" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-2.svg" loading="lazy" width="98" height="51" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-3.svg" loading="lazy" width="66" height="53" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-5.svg" loading="lazy" width="160" height="52" alt="Clients Logo" class="clients-logo"></div>
        <div class="w-layout-hflex clients-train"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo.svg" loading="lazy" width="153" height="51" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-4.svg" loading="lazy" width="131" height="54" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-6.svg" loading="lazy" width="163" height="52" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-2.svg" loading="lazy" width="98" height="51" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-3.svg" loading="lazy" width="66" height="53" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-5.svg" loading="lazy" width="160" height="52" alt="Clients Logo" class="clients-logo"></div>
        <div class="w-layout-hflex clients-train"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo.svg" loading="lazy" width="153" height="51" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-4.svg" loading="lazy" width="131" height="54" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-6.svg" loading="lazy" width="163" height="52" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-2.svg" loading="lazy" width="98" height="51" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-3.svg" loading="lazy" width="66" height="53" alt="Clients Logo" class="clients-logo"><img src="https://app.theurbangaragebd.com/edumig/images/Clients-Logo-5.svg" loading="lazy" width="160" height="52" alt="Clients Logo" class="clients-logo"></div>
        <div class="clients-overlay-one dark-overlay"></div>
      </div>
    </div>
  </section>
  <section class="about-one-instructor" style="display: none;">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex about-one-instructor-main">
        <div class="w-layout-vflex about-one-instructor-text">
          <h2 data-w-id="067b512d-ae23-5f98-b991-60bd021882d2" class="no-margin-top">Became an instructor</h2>
          <p data-w-id="6496e901-c714-6576-effe-9714aac7e5b0" class="margin-bottom-thirty">Lorem ipsum dolor sit amet consectetur. Sed ultricies fames scelerisque urna quis semper amet. Nisl tincidunt tortor nullam est nec commodo orci dictum in. Lorem consectetur donec purus sagittis.</p>
          <div data-w-id="a9fd0c29-c441-5739-a8a9-417878ac457b">
            <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" href="/" class="button button-border-off w-inline-block">
              <div>Start teaching today</div>
            </a>
          </div>
        </div>
        <div class="about-one-instructor-image"><img class="tab-image-full-width" src="https://app.theurbangaragebd.com/edumig/images/Girl-With-Logo_1Girl With Logo.webp" width="471" height="Auto" alt="Girl Image" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 473px, 471px" data-w-id="82afe75e-cef4-2e50-50c0-be16e6e75542" loading="lazy" srcset="images/Girl-With-Logo_1Girl With Logo.webp 500w, images/Girl-With-Logo_1Girl With Logo.webp 800w, images/Girl-With-Logo_1Girl With Logo.webp 942w"><img src="https://app.theurbangaragebd.com/edumig/images/Review-Popup_1Review Popup.webp" loading="lazy" width="218" height="107" alt="Popup" data-w-id="26e3df4c-8214-2d09-daec-df82d7025cf1" class="instructor-popup-image"></div>
      </div>
    </div>
  </section>
  <div class="background-light-blue">
    <section class="home-two-testimonial">
      <div class="w-layout-blockcontainer home-two-testimonial-container w-container">
        <div class="w-layout-vflex home-two-testimonial-main"><img src="https://app.theurbangaragebd.com/edumig/images/Quote-Icons.svg" loading="lazy" width="159" height="116" alt="Quote" data-w-id="94133b6d-1f40-cb6b-ab13-10b498f20ec3" class="testimonial-two-quote">
          <div data-delay="4000" data-animation="cross" class="testimonial-two-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-w-id="94133b6d-1f40-cb6b-ab13-10b498f20ec4" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
              <div class="w-slide">
                <div class="w-layout-vflex home-two-testimonial-items">
                  <p class="home-two-testimonial-text">“Our faculty members are experienced professionals and dedicated educators who bring
                    real-world knowledge into the classroom. They mentor, guide, and inspire learners to
                    
                    achieve both academic and career success.”</p>
                  <div class="home-two-testimonial-name">OUR FACULTY</div>
                  <!-- <div class="body-small-text">Co-assistant manager</div> -->
                </div>
              </div>
              <div class="w-slide">
                <div class="w-layout-vflex home-two-testimonial-items">
                  <p class="home-two-testimonial-text">&quot;Our faculty members are experienced professionals and dedicated educators who bring
                    real-world knowledge into the classroom. They mentor, guide, and inspire learners to
                    
                    achieve both academic and career success.&quot;</p>
                  <div class="home-two-testimonial-name">OUR FACULTY</div>
                  <!-- <div class="body-small-text">Designer</div> -->
                </div>
              </div>
            </div>
            <div class="testimonial-two-slider-arrow slider-arrow-left w-slider-arrow-left"><img src="https://app.theurbangaragebd.com/edumig/images/Slider-Arrow-Black.svg" loading="lazy" width="18" height="Auto" alt="Slider Arrow" class="icon-rotate"></div>
            <div class="testimonial-two-slider-arrow slider-arrow-right w-slider-arrow-right"><img src="https://app.theurbangaragebd.com/edumig/images/Slider-Arrow-Black.svg" loading="lazy" width="18" height="Auto" alt="Slider Arrow"></div>
            <div class="display-off w-slider-nav w-round w-num"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="cta-three">
    <div class="w-layout-blockcontainer cta-three-container w-container">
      <div class="w-layout-hflex cta-three-main">
        <div data-w-id="88293f59-0187-6056-3a72-86586e29ff70" class="heading-three cta-heading text-white">Are you ready to start your journey?</div>
        <div data-w-id="88293f59-0187-6056-3a72-86586e29ff72" class="w-layout-hflex cta-button-wrapper">
          <a data-w-id="890a1aa9-6573-2ea8-6a51-6c8deb450bab" routerLink="/courses" class="button white-border-button w-inline-block">
            <div>Browse courses</div>
          </a>
          <!-- <a data-w-id="d2419891-9f36-e25c-7c72-b1716c5d291d" href="#" class="button button-yellow w-inline-block">
            <div>Became an instructor</div>
          </a> -->
        </div>
      </div>
    </div>
  </section>