<section class="quick-start">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-grid quick-start-main">
        <div data-w-id="c7058f4e-b7b1-7606-1e13-1a060225a714" class="w-layout-hflex quick-start-card-one">
          <div class="w-layout-vflex quick-start-text-wrap-one">
            <div class="heading-four">Quick access to the popular courses</div>
            <a data-w-id="d2419891-9f36-e25c-7c72-b1716c5d291d" outerLink="/courses/course-one" class="button button-yellow w-inline-block">
              <div>View Courses</div>
            </a>
          </div>
          <img src="https://app.theurbangaragebd.com/edumig/images/quick-start/Woman Using Laptop.webp" loading="lazy" width="421" height="288" alt="Girl With Laptop" srcset="images/Woman-Using-Laptop_2Woman-Using-Laptop.webp 500w, images/Woman-Using-Laptop_2Woman-Using-Laptop.webp 800w, images/Woman-Using-Laptop_2Woman-Using-Laptop.webp 842w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 88vw, (max-width: 991px) 91vw, 100vw" class="tab-image-full-width quick-start-image">
        </div>
        <div data-w-id="bffc44cd-99a5-f1c7-cc17-d8479cc37e97" class="w-layout-hflex quick-start-card-two">
          <div class="w-layout-vflex quick-start-card-two-left">
            <div class="heading-four">Develop your skills online!</div>
            <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" href="career.html" class="button button-border-off w-inline-block">
              <div>FREE TRIAL</div>
            </a>
          </div>
          <div class="quick-start-card-video">
            <div data-poster-url="https://app.theurbangaragebd.com/edumig/images/quick-start/ielts.jpg" data-video-urls="videos/Home-One-Video-transcode.mp4,videos/Home-One-Video-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video w-background-video w-background-video-atom">
              <video id="7b5630cc-1d79-eb09-68c0-beb293c7712b-video" autoplay="" loop="" style="background-image:url(&quot;https://app.theurbangaragebd.com/edumig/images/quick-start/ielts.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                <source src="videos/Home-One-Video-transcode.mp4" data-wf-ignore="true">
                <source src="videos/Home-One-Video-transcode.webm" data-wf-ignore="true">
              </video>
            </div>
            <!-- <img src="https://app.theurbangaragebd.com/edumig/images/Controls.svg" loading="lazy" alt="Controls" class="video-controls"> -->
          </div>
        </div>
      </div>
    </div>
  </section>