<div class="home-one-linear-background">
    <section class="home-one-trending-courses">
      <div class="w-layout-blockcontainer container w-container" style="display: none;">
        <div class="w-layout-vflex trending-courses-top">
          <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">Trending courses</div>
          <div data-w-id="30bce78c-e06b-b459-aca8-2285300c46eb" class="heading-three heading-three-gap margin-bottom-off">Explore our top programs</div>
        </div>
        <div class="tranding-courses-cards">
          <div class="w-dyn-list">
            <div role="list" class="card-height-full w-dyn-items">
              <div role="listitem" class="card-height-full w-dyn-item">
                <div data-w-id="ed848eee-614a-24ff-2604-a40890d1d797" class="course-cards-two">
                  <div data-w-id="d1f2a64d-c0e2-86d3-3a28-f43787185d4d" class="course-card-top">
                    <div style="opacity:0" class="course-overlay"></div><img src="https://app.theurbangaragebd.com/edumig/images/Trending-Course-Image-2_1Trending-Course-Image-2.webp" loading="lazy" width="519.5" height="400" alt="" style="width:100%" class="course-card-two-image w-dyn-bind-empty">
                    <div class="course-image-wrap"></div>
                    <div class="w-layout-vflex course-card-top-description">
                      <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color margin-bottom-ten w-dyn-bind-empty"></div>
                      <div style="color:rgb(15,37,42)" class="heading-five margin-bottom-twenty w-dyn-bind-empty"></div>
                      <div class="w-layout-hflex course-two-card-rating"><img src="https://app.theurbangaragebd.com/edumig/images/Rating.svg" loading="lazy" width="79" height="Auto" alt="">
                        <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color rating-color w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="course-price-wrapper course-two-price">
                      <div>Free</div>
                    </div>
                  </div>
                  <div style="opacity:0;display:none" class="course-card-pop-up">
                    <div class="heading-five course-name w-dyn-bind-empty"></div>
                    <div class="w-layout-hflex course-card-popup-tags">
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                    </div>
                    <p class="course-card-two-description w-dyn-bind-empty"></p>
                    <div class="w-layout-vflex course-checkes">
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="w-layout-hflex course-cards-two-button">
                      <a data-w-id="cc6f3b89-1136-7157-92bf-3c50f2660718" href="#" class="button button-yellow course-two-button free-button w-inline-block">
                        <div>Course Details</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="card-height-full w-dyn-items">
              <div role="listitem" class="card-height-full w-dyn-item">
                <div data-w-id="74d51cfa-3404-096e-313a-5a3bb95c9569" class="course-cards-two">
                  <div data-w-id="74d51cfa-3404-096e-313a-5a3bb95c956a" class="course-card-top">
                    <div style="opacity:0" class="course-overlay"></div><img src="https://app.theurbangaragebd.com/edumig/images/Trending-Course-Image-2_1Trending-Course-Image-2.webp" loading="lazy" width="519.5" height="400" alt="" style="width:100%" class="course-card-two-image w-dyn-bind-empty">
                    <div class="course-image-wrap"></div>
                    <div class="w-layout-vflex course-card-top-description">
                      <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color margin-bottom-ten w-dyn-bind-empty"></div>
                      <div style="color:rgb(15,37,42)" class="heading-five margin-bottom-twenty w-dyn-bind-empty"></div>
                      <div class="w-layout-hflex course-two-card-rating"><img src="https://app.theurbangaragebd.com/edumig/images/Rating.svg" loading="lazy" width="79" height="Auto" alt="">
                        <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color rating-color w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="course-price-wrapper course-two-price">
                      <div class="w-dyn-bind-empty"></div>
                    </div>
                  </div>
                  <div class="course-card-pop-up course-card-pop-up-two">
                    <div class="heading-five course-name w-dyn-bind-empty"></div>
                    <div class="w-layout-hflex course-card-popup-tags">
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                    </div>
                    <p class="course-card-two-description w-dyn-bind-empty"></p>
                    <div class="w-layout-vflex course-checkes">
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="w-layout-hflex course-cards-two-button">
                      <a data-w-id="74d51cfa-3404-096e-313a-5a3bb95c9594" href="#" class="button button-yellow course-two-button w-inline-block">
                        <div>Course Details</div>
                      </a>
                      <a data-w-id="74d51cfa-3404-096e-313a-5a3bb95c9597" href="#" class="button button-border-off course-button-two w-inline-block">
                        <div>Enroll</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="card-height-full w-dyn-items">
              <div role="listitem" class="card-height-full w-dyn-item">
                <div data-w-id="44aea1fb-a5f6-f1f9-2516-0043e3a2416a" class="course-cards-two">
                  <div data-w-id="44aea1fb-a5f6-f1f9-2516-0043e3a2416b" class="course-card-top">
                    <div style="opacity:0" class="course-overlay"></div><img src="https://app.theurbangaragebd.com/edumig/images/Trending-Course-Image-2_1Trending-Course-Image-2.webp" loading="lazy" width="519.5" height="400" alt="" style="width:100%" class="course-card-two-image w-dyn-bind-empty">
                    <div class="course-image-wrap"></div>
                    <div class="w-layout-vflex course-card-top-description">
                      <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color margin-bottom-ten w-dyn-bind-empty"></div>
                      <div style="color:rgb(15,37,42)" class="heading-five margin-bottom-twenty w-dyn-bind-empty"></div>
                      <div class="w-layout-hflex course-two-card-rating"><img src="https://app.theurbangaragebd.com/edumig/images/Rating.svg" loading="lazy" width="79" height="Auto" alt="">
                        <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color rating-color w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="course-price-wrapper course-two-price">
                      <div class="w-dyn-bind-empty"></div>
                    </div>
                  </div>
                  <div style="opacity:0;display:none" class="course-card-pop-up">
                    <div class="heading-five course-name w-dyn-bind-empty"></div>
                    <div class="w-layout-hflex course-card-popup-tags">
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                    </div>
                    <p class="course-card-two-description w-dyn-bind-empty"></p>
                    <div class="w-layout-vflex course-checkes">
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="w-layout-hflex course-cards-two-button">
                      <a data-w-id="44aea1fb-a5f6-f1f9-2516-0043e3a24195" href="#" class="button button-yellow course-two-button w-inline-block">
                        <div>Course Details</div>
                      </a>
                      <a data-w-id="44aea1fb-a5f6-f1f9-2516-0043e3a24198" href="#" class="button button-border-off course-button-two w-inline-block">
                        <div>Enroll</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="card-height-full w-dyn-items">
              <div role="listitem" class="card-height-full w-dyn-item">
                <div data-w-id="94fb8b57-8ea7-720a-f985-b23be4501984" class="course-cards-two">
                  <div data-w-id="94fb8b57-8ea7-720a-f985-b23be4501985" class="course-card-top">
                    <div style="opacity:0" class="course-overlay"></div><img src="https://app.theurbangaragebd.com/edumig/images/Trending-Course-Image-2_1Trending-Course-Image-2.webp" loading="lazy" width="519.5" height="400" alt="" style="width:100%" class="course-card-two-image w-dyn-bind-empty">
                    <div class="course-image-wrap"></div>
                    <div class="w-layout-vflex course-card-top-description">
                      <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color margin-bottom-ten w-dyn-bind-empty"></div>
                      <div style="color:rgb(15,37,42)" class="heading-five margin-bottom-twenty w-dyn-bind-empty"></div>
                      <div class="w-layout-hflex course-two-card-rating"><img src="https://app.theurbangaragebd.com/edumig/images/Rating.svg" loading="lazy" width="79" height="Auto" alt="">
                        <div style="color:rgb(123,124,125)" class="small-shot-heading small-heading-body-color rating-color w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="course-price-wrapper course-two-price">
                      <div class="w-dyn-bind-empty"></div>
                    </div>
                  </div>
                  <div class="course-card-pop-up course-popup-last">
                    <div class="heading-five course-name w-dyn-bind-empty"></div>
                    <div class="w-layout-hflex course-card-popup-tags">
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                      <div class="grey-dot"></div>
                      <div class="small-shot-heading small-heading-body-color w-dyn-bind-empty"></div>
                    </div>
                    <p class="course-card-two-description w-dyn-bind-empty"></p>
                    <div class="w-layout-vflex course-checkes">
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                      <div class="w-layout-hflex course-card-checklist"><img src="https://app.theurbangaragebd.com/edumig/images/Tick.svg" loading="lazy" width="12" height="10" alt="Icon" class="margin-top-five">
                        <div class="course-card-two-description w-dyn-bind-empty"></div>
                      </div>
                    </div>
                    <div class="w-layout-hflex course-cards-two-button">
                      <a data-w-id="94fb8b57-8ea7-720a-f985-b23be45019af" href="#" class="button button-yellow course-two-button w-inline-block">
                        <div>Course Details</div>
                      </a>
                      <a data-w-id="94fb8b57-8ea7-720a-f985-b23be45019b2" href="#" class="button button-border-off course-button-two w-inline-block">
                        <div>Enroll</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-one-journey">
      <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-vflex home-one-journey-main-wrap">
          <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">Why we are</div>
          <div data-w-id="3654ddcd-1d4a-6018-e801-dec7585a521a" class="heading-three heading-three-gap">Elevate your professional journey</div>
          <p data-w-id="3654ddcd-1d4a-6018-e801-dec7585a521c" class="no-margin-bottom journey-description" style="max-width:800px">Throughout our journey, we’ve guided thousands of students, particularly in preparing for the
            IELTS examination and other English language courses. With a foundation built on trust,
            proven results, and an unwavering commitment to progress, we are here to make English
            language learning accessible, effective, and inspiring for all.</p>
          <div class="journey-options-wrap">
            <div data-w-id="3654ddcd-1d4a-6018-e801-dec7585a521f" class="w-layout-vflex journey-cards"><img src="https://app.theurbangaragebd.com/edumig/images/Books-Icons.svg" loading="lazy" width="43" height="42" alt="Icon">
              <div class="heading-five">Updated courses</div>
              <!-- <p class="no-margin-bottom">Lorem ipsum dolor sit amet conse non quis id viverra id proin.</p> -->
            </div>
            <div data-w-id="3654ddcd-1d4a-6018-e801-dec7585a5225" class="w-layout-vflex journey-cards"><img src="https://app.theurbangaragebd.com/edumig/images/Money-Bag-ICon.svg" loading="lazy" width="34" height="42" alt="Icon">
              <div class="heading-five">Save money</div>
              <!-- <p class="no-margin-bottom">Lorem ipsum dolor sit amet conse non quis id viverra id proin.</p> -->
            </div>
            <div data-w-id="3654ddcd-1d4a-6018-e801-dec7585a522b" class="w-layout-vflex journey-cards"><img src="https://app.theurbangaragebd.com/edumig/images/Course-Icon.svg" loading="lazy" width="38" height="42" alt="Icon">
              <div class="heading-five">Blended Learning</div>
              <!-- <p class="no-margin-bottom">Lorem ipsum dolor sit amet conse non quis id viverra id proin.</p> -->
            </div>
            <div data-w-id="3654ddcd-1d4a-6018-e801-dec7585a5231" class="w-layout-vflex journey-cards"><img src="https://app.theurbangaragebd.com/edumig/images/Verified-Icon.svg" loading="lazy" width="42" height="42" alt="Icon">
              <div class="heading-five">International Certified Facultye</div>
              <!-- <p class="no-margin-bottom">Lorem ipsum dolor sit amet conse non quis id viverra id proin.</p> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta-one">
      <div data-w-id="81a5b998-ae84-46ef-f7bf-03f332838459" class="w-layout-blockcontainer container w-container">
        <div class="w-layout-hflex cta-main">
          <div class="heading-three cta-heading">Are you ready to start your journey?</div>
          <div class="w-layout-hflex cta-button-wrapper">
            <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/courses" class="button button-border-off w-inline-block">
              <div>Browse courses</div>
            </a>
            <!-- <a data-w-id="39baf460-15b3-a13b-7a0d-2a8c4923e136" href="career.html" class="button black-border-button w-inline-block">
              <div>Became a teacher</div>
            </a> -->
          </div>
        </div>
      </div>
    </section>
  </div>