<footer class="footer-one">
    <div data-w-id="ecc05ebb-d048-2496-f7e4-abeb03dcdcf9" class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex footer-one-main">
        <div id="w-node-ecc05ebb-d048-2496-f7e4-abeb03dcdcfb-03dcdcf8" class="w-layout-vflex footer-links-wrap">
          <app-logo></app-logo>
          <p class="no-margin-bottom">Rahima Center, Level-8, Beside Sanmar
            Ocean City Mall, GEC, Chittagong.</p>
        </div>
        <div class="w-layout-vflex footer-links-wrap-two">
          <div class="heading-five text-white">Quick links</div>
          <div class="w-layout-vflex links-wrap">
            <a routerLink="/" class="footer-link-hover">Home</a>
            <a routerLink="/" class="footer-link-hover">Events</a>
            <a routerLink="/" class="footer-link-hover">Career</a>
            <a routerLink="/" class="footer-link-hover">Instructor</a>
          </div>
        </div>
        <div class="w-layout-vflex footer-links-wrap-two">
          <div class="heading-five text-white">Popular courses</div>
          <div class="w-layout-vflex links-wrap">
            <a routerLink="courses/category/finance" class="footer-link-hover">Finance</a>
            <a routerLink="courses/category/management" class="footer-link-hover">Management</a>
            <a routerLink="courses/category/design" class="footer-link-hover">Design</a>
            <a routerLink="courses/category/development" class="footer-link-hover">Web development</a>
          </div>
        </div>
        <div class="w-layout-vflex footer-links-wrap-two">
          <div class="heading-five text-white">Company</div>
          <div class="w-layout-vflex links-wrap">
            <a href="#" class="footer-link-hover">About</a>
            <a href="#" class="footer-link-hover">Courses</a>
            <a href="#" class="footer-link-hover">Blog</a>
            <a routerLink="/contact-us" class="footer-link-hover">Contact</a>
            <a href="#" class="footer-link-hover">License</a>
            <a href="#" class="footer-link-hover">Pricing</a>
            <a href="#" class="footer-link-hover">404</a>
          </div>
        </div>
        <div class="w-layout-vflex footer-links-wrap-two">
          <div class="heading-five text-white">CMS</div>
          <div class="w-layout-vflex links-wrap">
            <a href="#" class="footer-link-hover">Course details</a>
            <a href="#" class="footer-link-hover">Instructor details</a>
            <a href="#" class="footer-link-hover">Blog details</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div data-w-id="ecc05ebb-d048-2496-f7e4-abeb03dcdd3c" class="w-layout-blockcontainer footer-container w-container">
      <div class="border-one"></div>
      <div class="w-layout-hflex footer-bottom-main">
        <div class="footer-bottom-text">Design by <a href="#" target="_blank" class="footer-bottom-link">Edumig</a>
        </div>
        <div class="footer-bottom-text">Powered by <a href="#" target="_blank" class="footer-bottom-link">Bitweens</a>
        </div>
      </div>
    </div> -->
  </footer>