<section class="top-category">
  <div class="w-layout-blockcontainer container w-container">
    <div class="w-layout-vflex top-category-main">
      <div class="small-heading text-dark">Top Courses</div>
      <div class="heading-three heading-three-gap category-heading">
        Discover our courses to elevate your journey
      </div>
      <div class="w-layout-grid category-cards-wrap">
        <a
          *ngFor="let cat of categories"
          [href]="'courses/category/' + cat.slug"
          class="category-cards w-inline-block"
        >
          <div class="category-icons-wrap">
            <img
              [src]="'https://app.theurbangaragebd.com/edumig/images/' + cat.icon"
              alt="{{ cat.title }} icon"
              loading="lazy"
            />
          </div>
          <div class="heading-six margin-bottom-five category-text">
            {{ cat.title }}
          </div>
          <div>{{ cat.courses }} Courses</div>
        </a>
      </div>
    </div>
  </div>
</section>
