<section class="top-category">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-vflex top-category-main">
        <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">Top Categories</div>
        <div data-w-id="e5cdae92-0489-4215-ef09-bf88851e69ff" class="heading-three heading-three-gap category-heading">Discover leading categories to elevate your journey</div>
        <div class="w-layout-grid category-cards-wrap">
          <a data-w-id="fd52dbab-5378-f8e3-f998-c3abe4ff5476" href="https://elearna.webflow.io/category/design" class="category-cards w-inline-block">
            <div class="category-icons-wrap"><img src="https://app.theurbangaragebd.com/edumig/images/Category-Icons.svg" loading="lazy" width="Auto" height="Auto" alt="Icon"></div>
            <div class="heading-six margin-bottom-five category-text">Creative web design</div>
            <div>8 Courses</div>
          </a>
          <a data-w-id="fd52dbab-5378-f8e3-f998-c3abe4ff5476" href="https://elearna.webflow.io/category/finance" class="category-cards w-inline-block">
            <div class="category-icons-wrap"><img src="https://app.theurbangaragebd.com/edumig/images/Category-Icons-2.svg" loading="lazy" width="Auto" height="Auto" alt="Icon"></div>
            <div class="heading-six margin-bottom-five category-text">Finance accounting</div>
            <div>10 Courses</div>
          </a>
          <a data-w-id="fd52dbab-5378-f8e3-f998-c3abe4ff5476" href="https://elearna.webflow.io/category/development" class="category-cards w-inline-block">
            <div class="category-icons-wrap"><img src="https://app.theurbangaragebd.com/edumig/images/Category-Icons.svg" loading="lazy" width="Auto" height="Auto" alt="Icon"></div>
            <div class="heading-six margin-bottom-five category-text">IT and software</div>
            <div>5 Courses</div>
          </a>
          <a data-w-id="fd52dbab-5378-f8e3-f998-c3abe4ff5476" href="https://elearna.webflow.io/category/finance" class="category-cards w-inline-block">
            <div class="category-icons-wrap"><img src="https://app.theurbangaragebd.com/edumig/images/Category-Icons-4.svg" loading="lazy" width="Auto" height="Auto" alt="Icon"></div>
            <div class="heading-six margin-bottom-five category-text">Digital marketing</div>
            <div>4 Courses</div>
          </a>
          <a data-w-id="fd52dbab-5378-f8e3-f998-c3abe4ff5476" href="https://elearna.webflow.io/category/development" class="category-cards w-inline-block">
            <div class="category-icons-wrap"><img src="https://app.theurbangaragebd.com/edumig/images/Category-Icons-5.svg" loading="lazy" width="Auto" height="Auto" alt="Icon"></div>
            <div class="heading-six margin-bottom-five category-text">Web development</div>
            <div>8 Courses</div>
          </a>
          <a data-w-id="fd52dbab-5378-f8e3-f998-c3abe4ff5476" href="https://elearna.webflow.io/category/design" class="category-cards w-inline-block">
            <div class="category-icons-wrap"><img src="https://app.theurbangaragebd.com/edumig/images/Category-Icons-6.svg" loading="lazy" width="Auto" height="Auto" alt="Icon"></div>
            <div class="heading-six margin-bottom-five category-text">Content writing</div>
            <div>3 Courses</div>
          </a>
        </div>
      </div>
    </div>
  </section>