<section class="home-one-hero">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex home-one-hero-main">
        <div class="home-one-hero-image-wrap">
          <img class="hero-image-main" src="https://app.theurbangaragebd.com/edumig/images/Banner-Girl_1Banner-Girl.webp" width="677.5" height="746" alt="Hero Girl Image" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 677.234375px" data-w-id="c0265631-d863-6826-f402-a7043adfde54" loading="lazy" srcset="https://app.theurbangaragebd.com/edumig/images/Banner-Girl_1Banner-Girl.webp 500w, https://app.theurbangaragebd.com/edumig/images/Banner-Girl_1Banner-Girl.webp 800w, https://app.theurbangaragebd.com/edumig/images/Banner-Girl_1Banner-Girl.webp 1080w, https://app.theurbangaragebd.com/edumig/images/Banner-Girl_1Banner-Girl.webp 1355w">
          <img src="https://app.theurbangaragebd.com/edumig/images/Achievements_1Achievements.webp" loading="lazy" width="275" height="93" alt="Achievements" data-w-id="1967640d-b5f5-e549-7372-12dd9163bd2e" class="achievement-image">
          <img src="https://app.theurbangaragebd.com/edumig/images/Trusted By Image.avif" loading="lazy" width="268" height="179" alt="Trusted Image" data-w-id="d3dac050-1e94-ff7e-1167-8ebc824e4b33" class="trusted-by-image">
          <img src="https://app.theurbangaragebd.com/edumig/images/Half-Moon.svg" loading="lazy" data-w-id="48196e90-0562-74df-6e54-601ffcefd415" alt="Half Moon" class="half-moon">
          <img src="https://app.theurbangaragebd.com/edumig/images/Yellow-Dot.svg" loading="lazy" width="17" height="17" alt="Yellow Dot" data-w-id="70b05186-2eda-aa4f-2dfb-94e7c3b9b0c9" class="yellow-dot-small">
          <img src="https://app.theurbangaragebd.com/edumig/images/Yellow-Dot.svg" loading="lazy" width="11" height="11" alt="Yellow Dot" data-w-id="a5780128-fbc4-d66f-233f-aff6d651de49" class="yellow-dot-left">
          <img src="https://app.theurbangaragebd.com/edumig/images/Blue-Circle.svg" loading="lazy" data-w-id="ba4c3b2e-80c1-b8b2-a76a-c52e3da32a8e" alt="Blue Dot" class="blue-circle"></div>
        <div class="w-layout-vflex home-one-hero-text">
          <div data-w-id="96645ce7-a58f-669a-a10d-291fbaae30d0" class="small-heading">Online learning</div>
          <h1 data-w-id="7ecc48d3-1ed6-a482-b56a-3aabd6610c08" class="text-white heading-one-gap">More then <span class="brand-color">25000+</span> education courses online</h1>
          <p data-w-id="b961950d-37b6-df03-f3f1-b1a17e647a6f" class="text-light-white hero-description">Lorem ipsum dolor sit amet consectetur. Gravida enim risus sollicitudin mauris tincidunt commodo ornare.</p>
          <a data-w-id="63b4d4e7-94c2-9465-89d9-58c4a20f71fa" routerLink="/contact-us" class="button w-inline-block">
            <div>Get Started </div>
          </a>
        </div>
      </div>
    </div>
  </section>