<div>
    <header class="navbar-box" [class.is-sticky]="isSticky">
     
      <div data-w-id="fb4ef407-053b-0874-9f5b-4f7137e3f433" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
        <div class="navbar-container w-container">
          <div class="navbar-wrapper">
            <app-logo></app-logo>
            <nav role="navigation" id="w-node-_17d46984-7cba-edd4-a6dd-52a6d0365ce8-37e3f433" class="nav-menu w-nav-menu" [class.w--nav-menu-open]="mobileOpen">
              <div data-hover="true" data-delay="0" data-w-id="17d46984-7cba-edd4-a6dd-52a6d0365ce9" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div routerLink="/">Home</div>
                </div>
              </div>
              <div data-hover="true" data-delay="0" data-w-id="17d46984-7cba-edd4-a6dd-52a6d0365cf5" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div routerLink="/courses">Courses</div>
                </div>
                
              </div>
              <div data-hover="true" data-delay="0" data-w-id="17d46984-7cba-edd4-a6dd-52a6d0365d25" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div routerLink="/about-us">About Us</div>
                </div>
              </div>
              <!-- <div data-hover="true" data-delay="0" data-w-id="17d46984-7cba-edd4-a6dd-52a6d0365d41" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <a routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-link w-dropdown-link">Courses</a>
                 
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <a href="blog-two.html" class="dropdown-link w-dropdown-link">Blog Two</a>
                  <a href="blog-three.html" class="dropdown-link w-dropdown-link">Blog Three</a>
                </nav>
              </div> -->
              <div data-hover="true" data-delay="0" data-w-id="17d46984-7cba-edd4-a6dd-52a6d0365d4d" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div routerLink="/contact-us">Contact</div>
                </div>
              </div>
            </nav>
            <div class="w-layout-hflex navbar-right">
              
              <div class="w-layout-hflex log-in-wrapper">
                <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/courses" class="button button-border-off w-inline-block">
                  <div>ENROLL NOW</div>
                </a>
                <!-- <button class="user-log-in-log-out" type="button"
                        *ngIf="auth.isAuthed(); else mLoginBtn"
                        (click)="onLogout()">Logout</button>
                
            
                <div class="menu-border" *ngIf="!auth.isAuthed()"></div>
                <a *ngIf="!auth.isAuthed()" routerLink="/sign-up" class="menu-font text-white" (click)="closeMobile()">Register</a> -->
              </div>              
            </div>
            <div class="menu-button w-nav-button" (click)="toggleMobile()">
              <div class="menu-bars">
                <div class="bar menu-bar-one"></div>
                <div class="bar menu-bar-two"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="desktop-menu">
       <!-- topbar -->
        <div class="navbar-two-top">
          <div class="w-layout-blockcontainer container w-container">
           <div class="w-layout-hflex top-nav-main">
             <div class="top-nav-text">Digital Learning App <a routerLink="/contact-us" class="text-light-white">FREE TRIAL</a>
             </div>
             <div class="w-layout-hflex top-nav-right">
               <a href="mailto:elp@edumig.com " class="top-nav-text">{{"elp@edumig.com"}}</a>
               <div class="top-nav-text">Call: <a href="tel:+8801409965850" class="top-nav-text">+88 01409965850</a>
               </div>
             </div>
           </div>
         </div>

        </div>
      <!-- topbar -->
      <div class="w-layout-blockcontainer navbar-container w-container">
        <div class="w-layout-hflex navbar-wrapper">
          <app-logo></app-logo>
          <div id="w-node-c0ed1247-def4-0564-3c81-5cee2fd42538-2fd42530" class="w-layout-hflex desktop-menu-wrapper">
            <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div routerLink="/">Home</div>
              </div>
            </div>
            <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div routerLink="/about-us">About Us</div>
              </div>
            </div>
            <div data-hover="true" data-delay="0" class="dropdown mega-menu-dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div routerLink="/courses">Our Courses</div>
              </div>
            </div>
            <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div routerLink="/contact-us">Contact Us</div>
                <!-- <div class="icon w-icon-dropdown-toggle"></div> -->
              </div>
            </div>
            <!-- <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div>Blog</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="blog-one.html" class="dropdown-link w-dropdown-link">Blog One</a>
                <a href="blog-two.html" class="dropdown-link w-dropdown-link">Blog Two</a>
                <a href="blog-three.html" class="dropdown-link w-dropdown-link">Blog Three</a>
              </nav>
            </div> -->
            <div data-hover="false" data-delay="0" class="dropdown-link w-dropdown-link">
              <!-- <div class="dropdown-toggle w-dropdown-toggle">
                <div routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Courses
                </div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div> -->
              <!-- <nav class="dropdown-list w-dropdown-list">
                <a routerLink="/contact-us" class="dropdown-link w-dropdown-link">Contact One</a>
                <a href="contact-two.html" class="dropdown-link w-dropdown-link">Contact Two</a>
                <a href="contact-three.html" class="dropdown-link w-dropdown-link">Contact Three</a>
              </nav> -->
            </div>
          </div>
          <div class="w-layout-hflex navbar-right">
            <div class="w-layout-hflex log-in-wrapper">
              <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" routerLink="/courses" class="button button-border-off w-inline-block">
                <div>ENROLL NOW</div>
              </a>
                <!-- <button class="user-log-in-log-out" type="button"
                        *ngIf="auth.isAuthed(); else loginBtn"
                        (click)="onLogout()">Logout</button>
                <div class="menu-border" *ngIf="!auth.isAuthed()"></div>
                <a *ngIf="!auth.isAuthed()" routerLink="/sign-up" class="menu-font text-white" (click)="closeMobile()">Register</a> -->
              </div>             
          </div>
        </div>
      </div>
    </section>
  </div>
  <ng-template #loginBtn>
    <button
      class="user-log-in-log-out"
      type="button"
      (click)="onLogin()">
      Login
    </button>
  </ng-template>
  <ng-template #mLoginBtn>
    <button class="user-log-in-log-out" type="button" (click)="onLogin()">Login</button>
  </ng-template>