<section class="home-one-testimonial">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex home-one-testimonial-top">
        <div class="w-layout-vflex testimonial-left">
          <div data-w-id="96645ce7-a58f-669a-a10d-291fbaae30d0" class="small-heading">Our testimonials</div>
          <h2 data-w-id="d20b6635-0186-db64-a82a-557331d32686" class="heading-two-gap-top text-white">Trusted by our successful students</h2>
        </div>
        <div data-w-id="689d19a8-1c5d-e7a3-1660-e5b3e5560d00" class="w-layout-hflex testimonial-right">
          <div class="w-layout-hflex testimonial-right-boxes">
            <div data-w-id="3f0d9780-66bc-1748-1867-a298ad6bdf58" class="w-layout-hflex counter-box">
              <div class="w-layout-vflex counter-train-wrapper">
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">0</div>
                  <div class="heading-two text-white">1</div>
                  <div class="heading-two text-white">2</div>
                  <div class="heading-two text-white">3</div>
                  <div class="heading-two text-white">4</div>
                  <div class="heading-two text-white">5</div>
                  <div class="heading-two text-white">6</div>
                </div>
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">7</div>
                  <div class="heading-two text-white">1</div>
                  <div class="heading-two text-white">2</div>
                  <div class="heading-two text-white">3</div>
                  <div class="heading-two text-white">4</div>
                  <div class="heading-two text-white">5</div>
                  <div class="heading-two text-white">6</div>
                </div>
              </div>
              <div class="w-layout-vflex counter-train-wrapper">
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">0</div>
                  <div class="heading-two text-white">1</div>
                  <div class="heading-two text-white">2</div>
                  <div class="heading-two text-white">3</div>
                  <div class="heading-two text-white">4</div>
                  <div class="heading-two text-white">5</div>
                  <div class="heading-two text-white">6</div>
                  <div class="heading-two text-white">7</div>
                  <div class="heading-two text-white">8</div>
                  <div class="heading-two text-white">9</div>
                </div>
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">0</div>
                  <div class="heading-two text-white">1</div>
                  <div class="heading-two text-white">2</div>
                  <div class="heading-two text-white">3</div>
                  <div class="heading-two text-white">4</div>
                  <div class="heading-two text-white">5</div>
                  <div class="heading-two text-white">6</div>
                  <div class="heading-two text-white">7</div>
                  <div class="heading-two text-white">8</div>
                  <div class="heading-two text-white">9</div>
                </div>
              </div>
              <div class="heading-two text-white">M</div>
            </div>
            <div class="vertical-border"></div>
            <div>
              <p class="testimonial-counter-description">Successful students</p>
            </div>
          </div>
          <div class="w-layout-hflex testimonial-right-boxes">
            <div data-w-id="01c18ddc-e78a-c75b-b7f9-8c8186e93d85" class="w-layout-hflex counter-box">
              <div class="w-layout-vflex counter-train-wrapper">
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">0</div>
                  <div class="heading-two text-white">1</div>
                </div>
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">2</div>
                  <div class="heading-two text-white">1</div>
                </div>
              </div>
              <div class="w-layout-vflex counter-train-wrapper">
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">0</div>
                  <div class="heading-two text-white">1</div>
                  <div class="heading-two text-white">2</div>
                  <div class="heading-two text-white">3</div>
                  <div class="heading-two text-white">4</div>
                </div>
                <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-vflex counter-train">
                  <div class="heading-two text-white">5</div>
                  <div class="heading-two text-white">1</div>
                  <div class="heading-two text-white">2</div>
                  <div class="heading-two text-white">3</div>
                  <div class="heading-two text-white">4</div>
                </div>
              </div>
              <div class="heading-two text-white">K</div>
            </div>
            <div class="vertical-border"></div>
            <div>
              <p class="testimonial-counter-description">Global job placements</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-hflex home-one-testimonial-main">
        <div data-w-id="f4669fd4-2275-4aae-30ec-aed8b7ff2cbf" class="testimonial-image-wrap"><img src="assets/images/Testimonial-Author-Image_1Testimonial-Author-Image.avif" loading="lazy" width="520" height="351" alt="Testimonial Author" srcset="images/Testimonial-Author-Image_1Testimonial-Author-Image.avif 500w, images/Testimonial-Author-Image_1Testimonial-Author-Image.avif 1040w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 520px" class="testimonial-image-one"><img src="assets/images/Testimonial-Author-Image-2_1Testimonial-Author-Image-2.avif" loading="lazy" width="520" height="351" alt="Testimonial Author" srcset="images/Testimonial-Author-Image-2_1Testimonial-Author-Image-2.avif 500w, images/Testimonial-Author-Image-2_1Testimonial-Author-Image-2.avif 1040w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, 520px" class="testimonial-image-two"></div>
        <div data-w-id="4fe5d67a-47e7-7ee3-1a9e-dcbf8b9f7257" class="testimoanial-wrap">
          <div data-delay="4000" data-animation="cross" class="slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
              <div data-w-id="670c77a2-7177-7895-cfe9-c4c6a60a6a50" class="w-slide">
                <div class="w-layout-vflex">
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet consectetur. Adipiscing eget risus tempus facilisis scelerisque vitae consectetur vitae. Amet faucibus venenatis donec mattis. Morbi placerat eleifend malesuada sed semper quis.”</p>
                  <div class="w-layout-vflex">
                    <div class="testimonial-author-name">Linda Grady</div>
                    <div class="body-small-text">Co-assistant manager</div>
                  </div>
                </div>
              </div>
              <div data-w-id="670c77a2-7177-7895-cfe9-c4c6a60a6a51" class="w-slide">
                <div class="w-layout-vflex">
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet consectetur. Molestie faucibus nibh felis tempor vel aliquet cursus placerat duis. Est felis pulvinar tortor ut nibh montes ante gravida velit. Facilisi posuere in sed mattis blandit duis aliquet.”</p>
                  <div class="w-layout-vflex">
                    <div class="testimonial-author-name">Jim Adams</div>
                    <div class="body-small-text">Designer</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-arrow w-slider-arrow-left"><img src="assets/images/Slider-Arrow.svg" loading="lazy" width="18" height="14" alt="Icon" class="icon-rotate"></div>
            <div class="slider-arrow right-arrow-button w-slider-arrow-right"><img src="assets/images/Slider-Arrow.svg" loading="lazy" width="18" height="14" alt="Icon"></div>
            <div class="display-off w-slider-nav w-round w-num"></div>
          </div>
        </div>
      </div>
    </div>
  </section>