<section class="clients">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-vflex clients-main">
        <p data-w-id="1e12d122-f38e-07ce-3128-25aed7067c88" class="text-dark margin-bottom-twenty-five clients-top">400 ++ UNIVERSITY WORLDWIDE TRUST US</p>
        <!-- <p data-w-id="1e12d122-f38e-07ce-3128-25aed7067c88" class="text-dark margin-bottom-twenty-five clients-top">Learn from 350+ leading universities and companies with us</p> -->
        <div data-w-id="1e12d122-f38e-07ce-3128-25aed7067c8a" class="w-layout-hflex marquee-main">
          <div class="w-layout-hflex clients-train">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--1.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--2.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--3.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--4.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--5.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--6.png" loading="lazy" width="240" height="71" alt="British Council" class="clients-logo">
          </div>
          <div class="w-layout-hflex clients-train">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--1.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--2.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--3.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--4.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--5.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--6.png" loading="lazy" width="240" height="71" alt="British Council" class="clients-logo">
          </div>
          <div class="w-layout-hflex clients-train">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--1.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--2.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--3.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--4.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--5.png" loading="lazy" width="240" height="81" alt="Clients Logo" class="clients-logo">
            <img src="https://app.theurbangaragebd.com/edumig/images/partners/Edumig-Clients-Logo--6.png" loading="lazy" width="240" height="71" alt="British Council" class="clients-logo">
          </div>
          <div class="clients-overlay-one"></div>
        </div>
      </div>
    </div>
  </section>