<section class="course-one-hero">
  <div class="w-layout-blockcontainer course-one-hero-container w-container">
    <div class="w-layout-vflex course-one-hero-wrap">
      <div data-w-id="96645ce7-a58f-669a-a10d-291fbaae30d0" class="small-heading">START WITH</div>
      <h1 data-w-id="57f61ac4-72cd-9903-1434-8dd71538d176" class="heading-one-top-gap text-white">Professional online courses</h1>
    </div>
  </div>
</section>
<section class="course-one-category" style="display: none;">
  <div class="w-layout-blockcontainer container w-container">
    <div data-w-id="a5d74e64-e427-df73-3a8c-6ec45317d4dd" class="course-one-category-main">
      <a *ngFor="let cat of categories" [href]="'courses/category/' + cat.slug" class="course-one-category-cards w-inline-block">
        <div class="category-icons-wrap">
          <img
          [src]="'https://app.theurbangaragebd.com/edumig/images/' + cat.icon"
          alt="{{ cat.title }} icon"
          loading="lazy"
        />
          <!-- <img src="https://app.theurbangaragebd.com/edumig/images/Category-Icons.svg" loading="lazy" width="Auto" height="Auto" alt="Icon"> -->
        </div>
        <div class="heading-six margin-bottom-five category-text">{{ cat.title }}</div>
        <div>{{ cat.courses }} Courses</div>
      </a>
    </div>
  </div>
</section>
<section class="course-one-store">
  <div class="w-layout-blockcontainer container w-container">
    <div class="w-layout-vflex">
      <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">Online learning</div>
      <h2 data-w-id="c0a12dcd-8b71-264d-a95e-c4b1287fc15a" class="heading-two-gap-top course-one-store-heading">Popular courses</h2>
      <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="courses-pagination w-tabs">
        <div class="courses-tab-content w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
          <!-- DYNAMIC -->
            <app-courses-list [input_courses]="courses"></app-courses-list>
          <!--  -->
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <!-- DYNAMIC -->
            <app-courses-list [input_courses]="courses"></app-courses-list>
          <!--  -->
          </div>
        </div>
        <div class="courses-pagination-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-nav-link w-inline-block w-tab-link w--current">
            <div> 1</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-nav-link w-inline-block w-tab-link">
            <div>2</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta-one">
  <div data-w-id="81a5b998-ae84-46ef-f7bf-03f332838459" class="w-layout-blockcontainer container w-container">
    <div class="w-layout-hflex cta-main">
      <div class="heading-three cta-heading">Are you ready to start your journey?</div>
      <div class="w-layout-hflex cta-button-wrapper">
        <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" href="course-one.html" aria-current="page" class="button button-border-off w-inline-block w--current">
          <div>Browse courses</div>
        </a>
        <a data-w-id="39baf460-15b3-a13b-7a0d-2a8c4923e136" href="career.html" class="button black-border-button w-inline-block">
          <div>Became a teacher</div>
        </a>
      </div>
    </div>
  </div>
</section>