<section class="home-one-offer">
    <div class="w-layout-blockcontainer container w-container">
      <div class="w-layout-hflex home-one-offer-main">
        <div class="w-layout-hflex home-one-offer-image-wrap">
          <div class="w-layout-vflex home-one-offer-images-left">
            <div data-w-id="8425e082-f31d-9244-afef-d8ec08e01bc1" class="free-courses-image"><img src="assets/images/Free-Course_1Free-Course.avif" loading="lazy" width="272" height="94" alt="Course Count" class="border-radius-four height-auto"></div>
            <div data-w-id="9a938b3b-cc8c-a81f-b94e-a031f19a1e52" class="home-one-offer-image-shadow"><img src="assets/images/Man-Image-Holding-Graph_1Man-Image-Holding-Graph.webp" loading="lazy" width="362" height="454" alt="Man Image Holding Graph" srcset="images/Man-Image-Holding-Graph_1Man-Image-Holding-Graph.webp 500w, images/Man-Image-Holding-Graph_1Man-Image-Holding-Graph.webp 724w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 362px" class="border-radius-four height-auto"></div>
          </div>
          <div data-w-id="6e76b972-106c-222d-f64f-fb68ac111d94" class="home-one-offer-image-right"><img src="assets/images/Woman-Image-Holding-Copy_1Woman-Image-Holding-Copy.webp" loading="lazy" width="332" height="434" alt="Woman Image Holding Tab" srcset="images/Woman-Image-Holding-Copy_1Woman-Image-Holding-Copy.webp 500w, images/Woman-Image-Holding-Copy_1Woman-Image-Holding-Copy.webp 664w" sizes="(max-width: 991px) 100vw, 332px" class="border-radius-four height-auto"></div>
        </div>
        <div class="home-one-offer-right">
          <div data-w-id="a5ff96f1-0b24-9a8e-5c74-a45508423d0b" class="small-heading text-dark">what we Offer</div>
          <h2 data-w-id="aa9efe86-8c8f-34be-3b8a-c1ed23284df4" class="heading-two-gap-updown">Personalized learning for your ambitions</h2>
          <p data-w-id="e5536572-c012-d738-aec8-897203400e32" class="margin-bottom-twenty">Lorem ipsum dolor sit amet consectetur. Pellentesque id quam mauris mus. Vitae diam dolor lacus amet integer ut.</p>
          <ul data-w-id="d74ac44d-9587-0b97-d201-ffc3bddc1874" role="list" class="home-one-offer-list">
            <li class="heading-six">Skill-based instruction</li>
            <li class="heading-six">Analytics and insights</li>
            <li class="heading-six">Global certification</li>
            <li class="heading-six">Customizable courses</li>
          </ul>
          <div data-w-id="aeebfd1b-5baa-c83d-755f-a9dc0151b570" class="w-layout-hflex home-one-offer-box">
            <div class="w-layout-vflex home-one-offer-text">
              <div class="heading-five">Still have questions?</div>
              <p class="no-margin-bottom">Lorem ipsum dolor sit amet conse ipsum blandit etiam aliquam.</p>
            </div>
            <div class="no-shrink">
              <a data-w-id="554bdb09-166f-7496-ccbc-6402fc45feda" href="contact-two.html" class="button button-border-off w-inline-block">
                <div>Get Started </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>